.password-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: 0.05rem solid #c3caea;
  border-radius: 0.2rem;
  background: inherit;
  font-family: 'Roboto';
}

.password-item-content-container {
  display: flex;
  align-items: center;
  margin: 0;
}

.password-item-domain-initial-container {
  border-radius: 49%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-right: 1.2rem;
}

.password-item-domain-initial {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 550;
}

.domain-initial-background-violet {
  background-color: #7683cb;
}

.domain-initial-background-gold {
  background-color: #f59e0b;
}

.domain-initial-background-green {
  background-color: #10b981;
}

.domain-initial-background-orange {
  background-color: #f97316;
}

.domain-initial-background-jade {
  background-color: #14b8a6;
}

.domain-initial-background-red {
  background-color: #b91c1c;
}

.domain-initial-background-blue {
  background-color: #0ea5e9;
}

.password-item-data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.domain-name {
  font-size: 1.2rem;
}

.username,
.password-text {
  font-size: 0.9rem;
}

.domain-name,
.username,
.password-text {
  font-weight: 550;
}

.password-stars-img {
  width: 100%;
}

.password-item-delete-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: inherit;
}

.password-item-delete-button-img {
  height: 1.5rem;
  width: 1.5rem;
}

@media (min-width: 768px) {
  .password-item-container {
    width: 25%;
  }
}
